:root {
    /* Variables */
    --dark-blue-green: #182D40;
    --medium-blue-green:#2A5559;
    --blue-green:#468C8C;
    --light-blue-green:#71D9CE;
    --light-grey:#f2f2f2;

    /* Settings */
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

/* General */

.pointer {
    cursor: pointer;
}

/* Page structure */

#header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100vw;
    padding: 2rem 1rem;
    box-sizing: border-box;
    background-color: var(--dark-blue-green);
}

.container {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-flow: row nowrap;
}

#header .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 10rem;
    height: auto;
}

.menu-icon {
    width: 3rem;
    height: 3rem;
}

.header-navigation {
    display: none;
    visibility: hidden;
}

.header-navigation.show {
    display: flex;
    visibility: visible;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 1rem;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--light-grey);
}

.header-navigation-item  {
    font-size: 2rem;
    text-decoration: none;
    color: var(--dark-blue-green);
    z-index: 2;
}

.nav-list-item {
    position: relative;
}

.nav-list-item::before {
    content:'';
    width: .6rem;
    height: 0%;
    background: var(--dark-blue-green);
    transition: height 0.2s;
    position: absolute;
    z-index: 0;
    left: -.6rem;
}

.nav-list-item:hover::before {
    height: 100%;
}

.close {
    position: absolute;
    top:2rem;
    right: 2rem;
}

.close-icon {
    width: 3rem;
    height: 3rem;
}

.section {
    width: 100vw;
    padding: 4rem 1rem;
    box-sizing: border-box;
}
