:root {

    /* Variables */

    --dark-blue-green: rgb(19, 34, 53);
    --medium-blue-green:rgb(42, 85, 89);
    --blue-green:rgb(70, 140, 140);
    --light-blue-green:rgb(113, 217, 206);
    --light-blue-green-30:rgba(113, 217, 206, 30%);
    --light-grey:rgb(242, 242, 242);

    /* Settings */

    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'Social Media';
    src: url('../assets/fonts/social-media.otf');
}

/* General */

body {
    overflow-x: hidden;
}

.pointer {
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
}

.first-phrase, 
.first-phrase-light {
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    color: var(--medium-blue-green);
    line-height: 2rem;
    margin-bottom: 2rem;
}

.first-phrase-light {
    color: var(--light-grey);
}

.section-title, 
.section-title-light {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 2rem;
    color:var(--dark-blue-green);
}

.section-title-light {
    color: var(--light-grey);
}

.text-light {
    color:var(--light-grey);
}

/* Header */

#header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100vw;
    padding: 2rem 1rem;
    box-sizing: border-box;
    background-color: var(--dark-blue-green);
}

#header .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 10rem;
    height: auto;
}

.menu-icon,
.close-icon  {
    width: 2rem;
    height: 2rem;
}

.header-navigation {
    display: none;
    visibility: hidden;
}

.header-navigation.show {
    display: flex;
    visibility: visible;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 1rem;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--light-grey);
}

.header-navigation-item  {
    font-size: 2rem;
    text-decoration: none;
    color: var(--dark-blue-green);
    z-index: 2;
}

.nav-list-item {
    position: relative;
}

.nav-list-item::before {
    content:'';
    width: .6rem;
    height: 0%;
    background: var(--dark-blue-green);
    transition: height 0.2s;
    position: absolute;
    z-index: 0;
    left: -.6rem;
}

.nav-list-item:hover::before {
    height: 100%;
}

.close-item {
    position: absolute;
    top:2rem;
    right: 1.5rem;
}

.section {
    width: 100vw;
    padding: 4rem 1rem;
    box-sizing: border-box;
}

/* Quem Somos */

#about {
    background-color: var(--light-grey);
}

#about .content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.about-text {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--medium-blue-green);
}

.about-ilustration {
    width: 75%;
}

/* Produtos */

#products {
    background-color:var(white);
    color:var(--dark-blue-green) ;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    row-gap: 1rem;
    width: 100%;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    height: 80vw;
    width: 80vw;
    background-color: var(--light-blue-green-30);
    padding: 1rem;
    box-sizing: border-box;
}

.card figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    row-gap: 1rem;
    width: 100%;  
}

.card figcaption {
    color: var(--dark-blue-green);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.card img {
    width: 80%;  
    height: auto;  
}

/* Fale Conosco */

#contact {
    background-color: var(--medium-blue-green);
}

.contact-form fieldset {
    display: flex;
    flex-flow:column nowrap;
}

.form-email {
    color: var(--light-grey);
    font-size: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px var(--light-grey);
    margin-bottom: 2rem ;
}

.form-email::placeholder {
    color: var(--light-grey);
    margin-bottom: 1rem ;
    font-size: 1.1rem;
}

.form-email:focus,
.form-message:focus {
    outline: none;
} 

.form-message-area {
    width: 100%;
    height: 10.4rem;
    background-color: transparent;
    border: solid 1.2px var(--light-grey);
    box-sizing: border-box;
    margin-bottom: 2rem ;
}

.form-message-label {
    margin-bottom: .2rem ;
    font-size: 1.1rem;
}

.form-submit {
    padding: .5rem ;
    background-color: transparent;
    border: solid 1.2px var(--light-grey);
    color:var(--light-grey);
    width: 6rem;
    align-self: flex-end;
    font-size: 1.1rem;
}

/* Footer */

#footer {
    box-sizing: border-box;
    background-color: var(--dark-blue-green);
}

#footer .container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#footer .container .first-phrase-light {
    font-weight: 600;
    font-size: 1rem;
}

.social-medias {
    width: 100%;
    font-family: 'Social Media';
    font-size: 2.2rem;
    display: flex;
    justify-content: space-around;
}

.social-medias .media-icon a {
    text-decoration: none;
    color: var(--light-grey);
}


